*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Basic page style */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Container */
.container {
    width: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 50px auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    
}


.container :hover{
    text-shadow: #0056b3;    
}

/* Heading */
#heading {
    text-align: center;
    color: #14169b;
}

/* Paragraph */
#para {
    text-align: center;
    color: #0056b3;
    margin-bottom: 10px;
}

/* Input */
#input-field {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;

}

/* Buttons */
button {
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}



/* Output text */
#pera {
    margin-top: 10px;
    padding: 8px;
    border: 1px solid #ccc;
}
